:root {
  --main-color: #35b3f2;
  --sub-color: #7d7f80;
  --btn-primary-color: #35b3f2;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.welcome-main {
  margin-top: 50%;
}
.title-main {
  font-size: 20px;
  color: var(--main-color);
  font-weight: bold;
  font-family: "Noto-Sans";
}
.title-sub {
  color: var(--sub-color);
  font-size: 16px;
  padding: 1%;
}
.btn-primary {
  background-color: var(--btn-primary-color);
  color: #eee;
  border-radius: 50px;
  box-shadow: 2px 7px 25px var(--sub-color);
  padding: 5px;
  margin-top: 20px;
  width: 20%;
  cursor: pointer;
}
.btn-primary.create-rooms {
  width: 300px;
  height: 25%;
}
.create-rooms-container {
  border: 1px black;
  width: 70%;
  height: 40vh;
  box-shadow: 10px 10px 50px var(--sub-color);
  border-radius: 10px;
  margin-top: 15%;
  margin-left: 15%;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
}

.create-rooms-message {
  padding-top: 10%;
  font: "Noto-Sans";
  color: var(--main-color);
}
